{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <h1>Categoría: {{ title }}</h1>
        {% for post in posts %}
            <div class="col-md-4 mt-3">
                <div class="card shadow bg-body rounded p-3">
                    <div class="d-flex justify-content-between border-bottom align-items-center ">
                        <div class="d-flex align-items-center">
                            <img style="width: 50px" src="{{ asset("img/"~ post.user.img) }}" alt="">
                            <p class="badge text-dark p-3 text-md-start fs-6 cursor-pointer">
                                {{ post.user.name }}
                                <small class="text-muted">{{ post.date | date('d/m/Y') }}
                                </small>
                            </p>
                        </div>
                        {% if app.user != null %}
                            {% if post.user.id == app.user.id  %}
                                {% for role in app.user.roles  %}
                                    {% if role == 'ROLE_USER' %}
                                        <div class="d-flex">
                                            <div class="">
                                                <a class="nav-link dropdown-toggle button_stop_following" data-bs-toggle="dropdown"  role="button" aria-expanded="false"></a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item btn btn-outline-success text-center" href="{{ path('post_edit', {'id':post.id}) }}">Editar</a></li>
                                                    <li><a class="dropdown-item btn btn-outline-danger text-center" href="{{ path('post_delete', {'id':post.id}) }}">Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-boddy">{{ post.title }}</h5>
                        {#                        <p class="card-text">{{ post.text|slice(0,100) }}..</p>#}
                        <img class="card-img-top img_post" class="ratio" style="--bs-aspect-ratio: 50%;" src="{{ asset("img/"~post.image) }}" alt="">
                        <p class="mt-2">
                            <b>Tags</b>:
                            {% for tag in post.tag %}
                                <spam class="badge bg-success">{{ tag.name }}</spam>
                            {% endfor %}
                        </p>
                        <p>
                            <b>Categoria</b>:
                            <spam class="badge bg-primary">{{ post.categoria.name }}</spam>
                        </p>


                       <p class="text-uppercase fs-6 fw-bold text-body">
                           <b>Autor</b>
                           : {{ post.user.name }}
                       </p>

                       
                        {% if app.user != null %}
                        <i class="fas fa-heart like-btn-categorie 
                            {% if likeStatus(app.user, post) == true %} d-none {% endif %}
                            "  onclick="likePostCategory({{post.id}})"
                        > 
                        <samp class="fw-bold">Me gusta</samp>
                        </i>
                        <i class="fas fa-heart unlike-btn-categorie
                        {% if likeStatus(app.user,post) == false %} d-none {% endif %}
                        " onclick="unlikePostCategory({{post.id}})"
                        "> 
                        </i>
                        {% endif %}
                    </div>

                </div>
            </div>
        {%  endfor %}
    </div>
{% endblock %}