{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        {% for message in app.session.flashBag().get('msg') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <a class="btn btn-primary" href="{{path('tags_add')}}">Agregar tag</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Descripción</th>
                <th scope="col">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ tag.name }}</td>
                    <td>{{ tag.description }}</td>
                    <td class="d-flex ">
                        <div>
                            <a href="{{ path('tag_id',{id:tag.id}) }}" class="btn btn-primary m-2">Editar</a>
                        </div>
                        <div>
                            <a href="{{ path('tag_delete',{id:tag.id}) }}" class="btn btn-danger m-2">Eliminar</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}