{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <h1>Tag: {{ title }}</h1>
        {% for tag in tags %}
            {% for post in tag.posts %}
            <div class="col-md-4 post-item">
                <div class="m-2 shadow bg-body rounded">
                    <div class="card-body d-flex justify-content-between align-items-center ">
                        <div class="d-flex align-items-center">
                            <img class=" rounded-circle img_profile_post_content" src="{{ asset("img/"~ post.user.img) }}" alt="">
                            <p class="badge text-dark text-md-start fs-6 cursor-pointer">
                                {{ post.user.name }}
                                <small class="text-muted">{{ post.date | date('d/m/Y') }}
                                </small>
                            </p>
                        </div>
                        {% if app.user != null %}
                            {% if post.user.id == app.user.id  %}
                                {% for role in app.user.roles  %}
                                    {% if role == 'ROLE_USER' %}
                                        <div class="d-flex">
                                            <div class="">
                                                <a class="nav-link dropdown-toggle button_stop_following" data-bs-toggle="dropdown"  role="button" aria-expanded="false"></a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item btn btn-outline-success text-center" href="{{ path('post_edit', {'id':post.id}) }}">Editar</a></li>
                                                    <li><a class="dropdown-item btn btn-outline-danger text-center" href="{{ path('post_delete', {'id':post.id}) }}">Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="">
                        <h5 class="ms-3 me-3">{{ post.title }}</h5>
                        {#                        <p class="card-text">{{ post.text|slice(0,100) }}..</p>#}
                        <img class="card-img-top img_post" class="ratio" style="--bs-aspect-ratio: 50%;" src="{{ asset("img/"~post.image) }}" alt="">
                        <p class="ms-3 me-3 my-0 mt-3">
                            <b>Tags</b>:
                            {% for tag in post.tag %}
                                <spam class="tags_url badge bg-success fst-italic">{{ tag.name }}</spam>
                            {% endfor %}
                        </p>

                        <div class="d-flex justify-content-between ms-3 me-3">
                            <p>
                                <b>Categoria</b>:
                                <spam class="badge bg-primary">{{ post.categoria.name }}</spam>
                            </p>
                            <div >
                                {% if app.user != null %}
                                <i class="fas fa-heart like-btn-categorie 
                                    {% if likeStatus(app.user, post) == true %} d-none {% endif %}
                                    "  onclick="likePostCategory({{post.id}})"
                                > 
                                <samp class="fw-bold">Me gusta</samp>
                                </i>
                                <i class="fas fa-heart unlike-btn-categorie
                                {% if likeStatus(app.user,post) == false %} d-none {% endif %}
                                " onclick="unlikePostCategory({{post.id}})"
                                "> 
                                </i>
                                {% endif %}                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%  endfor %}
        {% endfor %}
    </div>
{% endblock %}