<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path('index')}}">ROMACODE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li>
                    <div class="card-body">
                        {{ render(controller('App\\Controller\\SearchController::searchBar')) }}
                    </div>
                </li>
            </ul>
            <div class="navbar-nav ml-auto mb-2 mb-lg-0">
                <div class="content_navbar">
                {% if not app.user %}
                  <li><a class="btn btn-outline-primary me-3" href="{{path('login')}}">Iniciar sesión</a></li>
                  <li><a class="btn btn-primary" href="{{path('register')}}">Registro</a></li>
                {% else %}
                  {% if app.user != null %}
                          <li class="nav-item">
                              <a href="{{path('profile_edit',{'id':app.user.id})}}">
                                  <img class="rounded-circle img_profile_nav" src="{{ asset("img/"~app.user.img) }}" alt="">
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="{{path('profile_edit',{'id':app.user.id})}}">{{ app.user.name }}</a>
                          </li>
                  
                          <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              </a>
                              <ul class="dropdown-menu navbar_content" aria-labelledby="navbarDropdown">
                                    {% if app.user != null %}
                                        {% for role in app.user.roles  %}
                                            {% if role == 'ROLE_ADMIN' %}
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" href="{{path('tags')}}">Tags</a></li>
                                                <li><a class="dropdown-item" href="{{path('tags_add')}}">Agregar tag</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" href="{{path('categories')}}">Categorías</a></li>
                                                <li><a class="dropdown-item" href="{{path('categories_add')}}">Agregar categoría</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <li class="text-center"><a class="dropdown-item" href="{{path('profile_edit',{'id':app.user.id})}}">Perfil</a> </li>
                                    <li class="text-center"><a class="dropdown-item" href="{{path('logout')}}">Salir <i class="fas fa-power-off"></i></a> </li>
                              </ul>
                          </li>
                  {% endif %}
                </div>
              {% endif %}
            </div>
        </div>
    </div>
</nav>
